<div class="col-sm-12">
    
        <div class="menu-area">
            <div class="limit-box">
                <nav class="main-menu navbar navbar-expand-sm bg-primary navbar-dark fixed-top">

                    <ul class="menu-area-main">
                        <li class="nav-item"> <a class="navbar-brand" href="https://gadm.org/index.html">GADM API
                                3.6</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">About us</a></li>
                        <li class="nav-item"><a class="nav-link" href="#products">User Guide</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" routerLink="feedback">Feedback</a></li>

                    </ul>
                </nav>
            </div>
        </div>

    
</div>

<router-outlet></router-outlet>