<div class="col-sm-12">
  <div class="header_information">
    <div class="menu-area">
      <div class="limit-box">
        <nav class="main-menu navbar navbar-expand-sm bg-primary navbar-dark fixed-top">

          <ul class="menu-area-main">
            <li class="nav-item"><a class="navbar-brand" href="https://gadm.org/index.html">GADM API
              3.6</a></li>
            <li class="nav-item"><a class="nav-link" href="#about">About us</a></li>
            <li class="nav-item"><a class="nav-link" href="#user-guide">User Guide</a></li>
            <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="#feedback">Feedback</a></li>
            <!--<li class="nav-item"><a class="nav-link" href="#" routerLink="feedback">Feedback</a></li>-->
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>


<div id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="about-box">

          <div class="col-sm-12">

            <br>
            <h2>About GADM API 3.6 Alpha</h2>
            <br>
            <h1>Here you will get the API. no need to keep the DB in you own.</h1>
            <br>
            <br>
            <br>
            GADM wants to map the administrative areas of all
            <a href="https://gadm.org/country.html">countries</a>, at all levels of sub-division. We use a
            high spatial resolution,
            and of a extensive set of attributes. This is a never ending project, but we are happy to share
            what we have. You can write us with questions and suggestions, using this
            <a href="#feedback">contact form</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="user-guide" class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="about-box">
          <div class="col-sm-12">
            <h2>User<strong class="yellow">Guide</strong></h2>
            <div>
              <h1>This is user guide!</h1>
              <h1>This is user guide!</h1>
              <h1>This is user guide!</h1>
              <h1>This is user guide!</h1>
              <h1>This is user guide!</h1>
              <h1>This is user guide!</h1>
              <h1>This is user guide!</h1>
              <h1>This is user guide!</h1>
              <h1>This is user guide!</h1>
              <h1>This is user guide!</h1>
              <h1>This is user guide!</h1>
              <h1>This is user guide!</h1>
              <h1>This is user guide!</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="about-box">
          <div class="col-sm-12">
            <h2>Contac<strong class="yellow">Us</strong></h2>
            <div>
              Please tell us how we can make you more confromtable with this API!
            </div>
            <h1>This is Contact With Us!</h1>
            <h1>This is Contact With Us!</h1>
            <h1>This is Contact With Us!</h1>
            <h1>This is Contact With Us!</h1>
            <h1>This is Contact With Us!</h1>
            <h1>This is Contact With Us!</h1>
            <h1>This is Contact With Us!</h1>
            <h1>This is Contact With Us!</h1>
            <h1>This is Contact With Us!</h1>
            <h1>This is Contact With Us!</h1>
            <h1>This is Contact With Us!</h1>
            <h1>This is Contact With Us!</h1>
            <h1>This is Contact With Us!</h1>
            <h1>This is Contact With Us!</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="feedback" class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="about-box">
          <div class="col-sm-12">
            <h2>Feed<strong class="yellow">Back</strong></h2>
            <div>
              Please tell us how we can make you more confromtable with this API!
            </div>
            <h1>This is user guide!</h1>
            <h1>This is user guide!</h1>
            <h1>This is user guide!</h1>
            <h1>This is user guide!</h1>
            <h1>This is user guide!</h1>
            <h1>This is user guide!</h1>
            <h1>This is user guide!</h1>
            <h1>This is user guide!</h1>
            <h1>This is user guide!</h1>
            <h1>This is user guide!</h1>
            <h1>This is user guide!</h1>
            <h1>This is user guide!</h1>
            <h1>This is user guide!</h1>
            <h1>This is user guide!</h1>
            <h1>This is user guide!</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
