
  <br>
  <h2>About GADM API 3.6 Alpha</h2>
  <br>
  <h1>Here you will get the API. no need to keep the DB in you own.</h1>
  <br>
  <br>
  <br>
  GADM wants to map the administrative areas of all
   <a href="https://gadm.org/country.html">countries</a>, at all levels of sub-division. We use a high spatial resolution,
  and of a extensive set of attributes. This is a never ending project, but we are happy to share what we have.You can write
   us with questions and suggestions, using this
  <a href="http://rasterra.com/contact/gadm_contact_form">contact form</a>
  
<router-outlet></router-outlet>